/* * * * * * *
    GENERAL
* * * * * * */
:root {
    --neon-green: #3fb980;
    --off-black: #121212;
    --text-normal: 18px;
}

body {
    color: var(--neon-green);
    margin: 0 auto;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:focus {
    text-decoration: underline;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-gradient {
    background: linear-gradient(135deg, rgba(48,48,50,1) 0%, rgba(28,28,32,1) 50%, rgba(0,0,0,1) 100%);
}

#warning { /* REMOVE THESE LATER */
    font-size: 300px;
    font-weight: bold;
    text-align: center;
    color: red;
}

.title-image-icon {
    width: 200px;
}

/* * * * * * *
  NAVIGATION
* * * * * * */

nav {
    margin: 0;
    height: 50px;
    background-color: var(--neon-green);
    color: var(--off-black);
    font-size: var(--text-normal);
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav > ul {
    margin: 0;
    padding: 0 20px;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end;

}

.page-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* * * * * * *
    IMAGES
* * * * * * */

.image-section {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 80vw;
    margin-bottom: 2vh;
}

.image-preview {
    width: 100%;
}

.image-preview:hover,
.image-preview:focus {
    outline: 1px solid var(--neon-green);
}

.popup {
    border: none;
    border-radius: 10px;
    outline: 0;
    padding: 25px;
    position: relative;
}

.popup > img {
    max-width: 90vw;
    max-height: 85vh;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}